@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GUVENBANK</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/hamburgers/hamburgers.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/util.css" rel="stylesheet" type="text/css" />

    <script src="~/lib/modernizr/modernizr.js"></script>
</head>
<body>

    <div class="container body-content">
        <div class="limiter">
            <div class="container-login100" style=" margin-top: -5%">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="/images/img-01.png" alt="IMG" style="margin-top:-20%">
                    </div>

                    <form asp-controller="Account" asp-action="Login" method="post" role="form" class="login100-form validate-form" style="margin-top: -6%">
                        <span class="login100-form-title"> KULLANICI GİRİŞİ </span>

                        @if (ViewBag.error == true)
                        {
                            <div class="alert alert-danger" role="alert"> Kullanıcı adı veya şifre hatalı. </div>
                        }

                        <div class="wrap-input100 validate-input">
                            <input type="text" id="btnTcNo" class="form-control input100" maxlength="11" onkeypress="return isNumberKey(event)" placeholder="TC Kimlik Numaranız" asp-for="TC">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input type="password" id="btnPass" class="form-control input100" placeholder="Şifreniz" asp-for="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="btn btn-primary login100-form-btn" id="btnLogin">Giriş Yap</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr />
    </div>

    <script>

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/tilt/tilt.jquery.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

</body>
</html>
