@model HomePageModel
@{
    ViewData["Title"] = "hoşgeldiniz sayfanıza";
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sekme Başlığı</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>hoşgeldiniz sayfanıza @Model.UserModel.FullName</h1>

</body>
</html>









