@model BankAccountsModel
@{
    ViewData["Title"] = "BankAccount";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sekme Başlığı</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>Hesaplarım</h1>

    <div class="form-group">
        <label class="form-label">Ana Kategori</label>
        <select class="custom-select" id="AnaKategori">
            <option value="1000">-- Hesaplar --</option>
            @{
                foreach (BankAccountModel account in Model.BankAccounts)
                {
                    <option value="@account.No">@account.No</option>
                }
            }
        </select>
    </div>

    <div>
        <button type="button" class="btn btn-primary" id="btnOpenAcc">Hesap Aç</button>
    </div>


<script>

    $('#btnOpenAcc').click(function () {

        alert("scripte girdi");
        $.ajax({
            url: '/BankAccount/Open',
            type: "POST",
            success: function () {
                document.location = '/BankAccount/List';
            },
            error: function () {
                alert("hesap oluşturulamadı.");
            }
        });
    });

</script>

</body>


</html>

